.menu {
    border: 1px solid $border-trasparent;
    border-radius: 3px;
    box-shadow: 0 0 3px $border-trasparent;
    max-width: 200px;
    min-width: 100px;
    padding: 6px;
    color: $black;
    background-color: $white;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1001;
}

// ^sistemare grafica menu