.playlist-card {
    border: 1px solid #fff;
    border-radius: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;

    &-title {
        font-size: 24px;

    }
}