$border-trasparent: rgba($color: #000000, $alpha: .3);

$white: #fff;
$black: #333;
$green-lime: #ADFF2F;
$white-trasparent: rgba($color: #fff, $alpha: .4);
$grey: #717171;
$black-footer: #282828;
$black-content: #141922;